body{
    background: url(https://img.freepik.com/free-photo/shopping-cart-plain-background-with-copy-space_23-2148283802.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
navbar{
    background-color: blueviolet;
}