<html>
    {% extends 'htmlpages/home.html' %}
    {% block body_block %}
    <h1>Electronics</h1>
    <table border="2" align="center">
        <thead>
            <th>Item</th>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
        </thead>
        {% for product in elist %}
        <tr>
           <td>{{product.Item}}</td>
           <td>{{product.product}}</td>
           <td>{{product.price}}</td>
           <td>{{product.quantity}}</td>
        </tr>
        {% endfor %}
     </table>
    {% endblock %}


</html>